<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device, initial-scale=1">
        <title>ExplOregon</title>
        <link rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    </head>
    <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="/">ExplOregon</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto" id="navbar-el">
                    <li class="nav-item <% typeof page !== 'undefined' && page === 'locations' ? 'active': '' %>">
                        <a class="nav-link" href="/locations">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <% if (!currentUser) { %>
                        <li class="nav-item <% typeof page !== 'undefined' && page === 'login' ? 'active': '' %>">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item <% typeof page !== 'undefined' && page === 'register' ? 'active': '' %>">
                            <a class="nav-link" href="/register">Sign Up</a>
                        </li>
                    <% } else  { %>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hi, <%= currentUser.username %>!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </nav>
        
        <!-- ALERTS -->
       <div class="container">
            <% if (error && error.length > 0) { %>
               <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>
            
            <% if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert"><%= success %></div>
            <% } %>
        </div>
        
        <div class="container">